doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='Personal academic Website', content='')
        meta(name='Jennifer Brana', content='')

        title Jennifer Brana

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Jennifer Brana
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#publications') Publications
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Jennifer
                        span.text-primary Brana
                    .subheading.mb-5
                        | Portland, OR · brana23@up.edu
                        p
                        a(href=href="assets/files/cv_jbrana.pdf") Curriculum Vitae
                    -var url = 'http://www.cs.cmu.edu/~beckmann/';
                    p I am an undergraduate in computer science at the University of Portland. I work with
                        a(href=url) Nathan Beckman
                        | in
                        a(href='https://cmu-corgi.github.io/') CORGi
                        | at Carnegie Mellon University. My current research focuses on design coherence protocols for cache-attached accelerators. My research interests lie in computer architecture, particularly the design of heterogenous architectures and heterogenous memory systems.
                        |
                        | I am currently applying to graduate school for Fall 2023.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/jenniferbrana/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/JenniferBrana')
                            i.fab.fa-github
                        a.social-icon(href='https://twitter.com/jbrana')
                            i.fab.fa-twitter

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 University of Portland
                            .subheading.mb-3 Bachelor of Science
                            div Computer Science
                            div Minor: Computer Engineering
                            p GPA: 3.90
                        .flex-shrink-0
                            span.text-primary August 2019 - Present

            hr.m-0

            // Publications
            section#publications.resume-section
                .resume-section-content
                    h2.mb-5 Publications

                    .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Kobold: Simplified Cache Coherence for Cache-Attached Accelerators
                            div #[b Jennifer Brana], Brian C. Schwedock, Yatin A. Manerkar, Nathan Beckmann
                            div Workshop on Democratizing Domain-Specific Accelerators (WDDSA) @ MICRO 2022, October 2022
                            div
                            a(href='assets/files/kobold_wddsa2022.pdf') [paper]
                            a(href="assets/files/kobold_poster.pdf") [talk]

                    .resume-item.d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Kobold: Simplified Cache Coherence for Cache-Attached Accelerators
                            div #[b Jennifer Brana], Brian C. Schwedock, Yatin A. Manerkar, Nathan Beckmann
                            div Student Research Competition @ MICRO 2022, October 2022
                            div
                            a(href="assets/files/kobold_wddsa2022.pdf") [paper]
                            a(href="assets/files/kobold_poster.pdf") [poster]
            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Undergraduate Research Assistant
                            .subheading.mb-3 CORGi @ CMU
                            p
                                | Designed novel non-inclusive hierarchical cache coherence protocol to simplify the integration of cache-attached accelerators. Researched methods to reduce the verification complexity of coherence protocols. Investigated methods to minimize the impact of accelerator integration within the cache hierarchy on processor performance.
                        .flex-shrink-0
                            span.text-primary May 2022 - Present

            hr.m-0

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
